@import url('https://fonts.googleapis.com/css?family=Montserrat|Rubik&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
}

@media (max-width: 74rem) {
    body:not(.post) {
        text-align: center;
    }
}

@media (max-width: 74rem) {
    .desktoponly {
        display: none !important;
    }

    body.menuactive>:not(header) {
        filter: blur(6px);
    }
}

@media (max-width: 56rem) {
    .desktoptablet {
        display: none !important;
    }
}

@media (min-width: 74rem) {
    .mobileonly {
        display: none !important;
    }
}

.hidden {
    display: none !important;
}

p,
a,
span,
li {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.8em;
    margin-top: 0;
}

@media (max-width: 74rem) {

    h1:not(.notcenter),
    h2:not(.notcenter) {
        text-align: center;
        width: 100%;
    }

    h2:first-child {
        margin-top: 0;
    }
}

h3 {
    font-size: 1.5em;
}

h4 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 1.3em;
}

h5 {
    font-size: 1em;
    font-weight: 300;
    margin-bottom: 0.5em;
    margin-top: 0;
}

.sub {
    color: #909090;
}

.float {
    float: left;
}

.highline-1 {
    line-height: 2.1em;
}

.contentcontainer {
    margin: 0 1em 2em 1em;
}

@media (min-width: 74rem) {
    .contentcontainer {
        margin: 4em 4em 2em 4em;
    }
}

ul.simple {
    list-style: none;
    margin-top: 1rem;
}

ul:not(.simple) {
    text-align: left;
}

@media (max-width: 74rem) {

    .navigation ul,
    ul.navigation {
        text-align: center;
    }
}

@media (min-width: 74rem) {
    ul.sublist {
        margin-left: 1.5rem;
        list-style-type: circle;
    }
}

a,
.a {
    text-decoration: none;
    color: #268bd2;
}

a:hover,
.a:hover {
    text-decoration: underline;
}

:not(.menutoggler)>i.material-icons-round {
    line-height: 1.2rem;
    vertical-align: text-bottom;
}

section {
    overflow: hidden;
}

section:not(:first-of-type) {
    margin-top: 4rem;
}

section.smalltop {
    margin-top: 1rem;
}

@media (max-width: 74rem) {
    section {
        margin-bottom: 3em;
    }
}

.fullwidthimage {
    width: 100%;
    height: 22rem;
    object-fit: cover;
    border-radius: 0.5rem;
}

hr {
    border: 0.5px solid #dadada;
    margin: 2em auto;
    max-width: 60%;
}

hr.section {
    margin: 3em 4em 4em 4em;

}

@media (min-width: 74rem) {
    hr {
        margin: 2em 0;
    }

    hr.section {
        margin: 4em 4em 6em 4em;
    }
}

/*
 * Header
 */

header {
    /*border-top: 3px solid #004070;*/
    overflow: hidden;
    height: 5rem;
}

header .logo {
    position: absolute;
    left: 1rem;
    background-color: #404040;
    width: 5rem;
    height: 5rem;
    -webkit-mask: url(/assets/logo.svg) no-repeat center;
    mask: url(/assets/logo.svg) no-repeat center;
    transition: background-color 800ms;
}

header .logo:hover {
    background-color: #004070;
}

/* Shine */
header .logo:hover:after {
    content: '';
    top: 0;
    transform: translateX(100%);
    width: 100%;
    height: 220px;
    position: absolute;
    z-index: 1;
    animation: slide 800ms 200ms;

    /* 
  CSS Gradient - complete browser support from http://www.colorzilla.com/gradient-editor/ 
  */
    background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
    /* FF3.6+ */
    background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    background: linear-gradient(135deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
    /* W3C */
}

/* animation */

@keyframes slide {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

header .searchcontainer {
    height: 4rem;
    position: absolute;
    left: 6rem;
}

header .searchcontainer .search {
    height: 2.25rem;
    width: calc(100vw - 11.5rem);
    font-size: 1rem;
    padding: 0.5em;
    margin: 1.25rem 0;
    border-radius: 0.25em;
    border: 1px solid #202020;
    display: table-cell;
    vertical-align: middle;
    background-color: transparent;
}

header .searchcontainer .search::placeholder {
    text-align: center;
}

.notfoundinfo {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: crimson;
    padding: 0.5em;
    color: white;
    text-align: center;
}

.notfoundinfo:hover {
    cursor: pointer;
}

@media (max-width: 74rem) {
    .notfoundinfo {
        top: 5rem;
    }

    body {
        margin-top: 4.5rem;
    }

    header {
        position: fixed;
        width: 100vw;
        height: 4.5rem;
        top: 0;
        left: 0;
        background-color: white;
        z-index: 1000;
    }

    .home header {
        position: absolute;
    }

    body:not(.home)::before {
        content: "";
        display: block;
        position: fixed;
        height: 4.5rem;
        width: 100vw;
        top: 0;
        left: 0;
        box-shadow: 0 0 5px #dadada;
        z-index: 998;
    }

    body:not(.home)::after {
        content: "";
        display: block;
        position: absolute;
        height: 1rem;
        width: 100vw;
        top: 4.5rem;
        left: 0;
        background: linear-gradient(to bottom, white 25%, rgba(255, 255, 255, 0));
        z-index: 999;
    }

    header .logo {
        top: 0.5rem;
        height: 4rem;
        width: 4rem;
    }

    header .menutoggler {
        position: absolute;
        top: 0.5rem;
        right: 1rem;
        height: 4rem;
        width: 4rem;
        color: #404040;
        transition: color 200ms;
    }

    header .menutoggler:hover {
        color: #004070;
    }

    header .menutoggler i {
        padding-top: 0.6rem;
        font-size: 2.5rem;
    }

    .menuactive header {
        min-height: 100%;
        height: fit-content;
        background: linear-gradient(to bottom, white 4.5rem, #ffffff80 4.5rem, #ffffff80 4.5rem, rgba(255, 255, 255, 0) 100%);
        position: absolute;
    }

    body.menuactive::before,
    body.menuactive::after {
        position: absolute;
    }

    header #menu {
        display: none;
        position: relative;
        height: fit-content;
        width: 100vw;
        z-index: 1000;
    }

    header #menu>.navigation {
        margin-top: 5rem;
    }

    .menuactive header #menu {
        display: unset;
    }

    ul.navigation,
    ul.navigation * {
        list-style: none;
        padding: 0;
        color: #404040;
    }

    ul.navigation>li {
        background-color: white;
        border-radius: 0.5rem;
        box-shadow: 0 0 5px #dadada;
        margin: 0 1rem 0.5rem 1rem;
        padding: 1rem 0;
    }

    ul.navigation i.material-icons-round {
        color: #606060;
        line-height: 1.2rem;
        vertical-align: text-bottom;
        transition: transform 250ms;
    }

    ul.sub-navigation {
        display: none;
    }

    ul.sub-navigation li {
        margin-top: 0.75rem;
    }

    li:hover>ul.sub-navigation {
        display: unset;
    }

    li:hover i.material-icons-round {
        transform: rotateX(-180deg);
    }

    ul.sub-navigation li.more {
        background: linear-gradient(to bottom, #f8f8f8, white);
        padding-top: 0.5rem;
    }
}

@media (min-width: 74rem) {
    header {
        padding: 2rem 4rem 1rem 4rem;
        height: 7rem;
    }

    header .logo {
        padding: 1rem 1rem 0 1rem;
        margin-top: 0.5rem;
        left: calc(50% - 4rem);
    }

    ul.simple {
        margin: 0;
        padding: 0;
    }

    header .navigation {
        list-style-type: none;
        position: absolute;
        margin-top: 0;
        right: calc(50% + 4em);
    }

    ul.navigation>li {
        float: left;
        padding: 1rem 0.5rem;
        height: 5em;
        display: table;
        position: relative;
    }

    ul.navigation li a {
        color: #202020;
        font-size: 1.25em;
        text-decoration: none;
        display: table-cell;
        vertical-align: middle;
        position: relative;
    }

    ul.navigation li:hover>a,
    ul.navigation li.active>a {
        text-decoration: underline;
    }

    ul.navigation li.inactive>a {
        color: #909090;
    }

    ul.sub-navigation {
        margin: 0;
        padding: 1rem;
        top: 5rem;
        left: -3.2rem;
        width: 14rem;
        z-index: 1000;
        visibility: hidden;
        position: absolute;
        list-style: none;
        display: block;
        background-color: white;
        box-shadow: 0 0 10px #dadada;
        border-radius: 0.75em;
    }

    @media (min-width: 88rem) {
        ul.navigation>li {
            padding: 1rem;
        }
    }

    @media (max-width: 80rem) {
        li:first-child>ul.sub-navigation {
            left: 0rem;
        }
    }

    ul.sub-navigation::after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 0;
        height: 0;
        border: 0.75em solid transparent;
        border-bottom-color: white;
        border-top: 0;
        margin-left: -0.75em;
        margin-top: -0.75em;
    }

    ul.sub-navigation>li {
        width: 100%;
        padding: 0.5em;
    }

    ul.sub-navigation li {
        font-size: 0.9em;
    }

    ul.sub-navigation li a {
        color: #909090;
        text-decoration: none;
        width: 100vw;
    }

    li:hover ul.sub-navigation,
    li.active ul.sub-navigation {
        visibility: visible;
    }

    ul.sub-navigation li:hover>a {
        color: #202020;
        text-decoration: none;
    }

    ul.expand-sub-navigation {
        height: 0;
        overflow: hidden;
        transition: 100ms;
    }

    li:hover>ul.expand-sub-navigation {
        height: 100%;
    }

    ul.expand-sub-navigation li {
        margin-top: 0.5em;
    }

    header .searchcontainer {
        height: 6em;
        left: calc(50% + 4em);
    }

    header .searchcontainer .search {
        width: 20em;
        margin: 1.85em 0 2.15em 0;
        float: right;
        font-size: 1.25em;
    }
}

/*
 * Home
 */

@media (min-width: 74rem) {
    .home .contentcontainer {
        margin: 0 4em 2em 4em;
    }
}

.home img.title {
    height: 125vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    object-fit: cover;
}

.title_img_overlay {
    position: absolute;
    height: 125vh;
    width: 100vw;
    top: 0;
    z-index: -99;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 100vh, white);
}

.home header {
    color: white !important;
    background: linear-gradient(to bottom, white, rgba(255, 255, 255, 0));
    height: 10em;
}

.sectiontitle {
    margin-left: 8em;
}

.newsgrid {
    display: grid;
    grid-gap: 1em;
}

.newsgrid .box {
    max-height: 20em;
}

.box.seemore {
    background-color: #efefef;
}

@media (min-width: 56rem) {
    .newsgrid {
        grid-template-columns: calc(50% - 0.5em) calc(50% - 0.5em);
    }
}

@media (min-width: 88rem) {
    .newsgrid {
        grid-template-columns: repeat(4, calc(25% - 2.25em)) 5em;
    }

    .newsgrid .box {
        height: 28rem;
        max-height: unset;
        margin: 1rem 0;
    }

    section.smallmargin {
        margin-left: 2em;
        margin-right: 2em;
    }

    .box.seemore * {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        line-height: 250%;
        text-align: center;
        writing-mode: vertical-lr;
    }
}

.newsgrid .box .imagebg {
    height: 10em;
    background-size: cover;
    background-repeat: no-repeat;
    margin: -1em -1em 1em -1em;
}

.newsgrid .box h2 {
    color: #909090;
    margin: 0.2em 0;
    font-size: 1.2em;
}

.newsgrid .box h1 {
    margin: 0.4em 0;
}

@media (min-width: 88rem) {

    .newsgrid .box:nth-child(1),
    .newsgrid .box:nth-child(3) {
        transform: scale(1);
    }

    .newsgrid .box.hover:nth-child(1):hover,
    .newsgrid .box.hover:nth-child(3):hover {
        transform: scale(0.99);
    }

    .newsgrid .box:nth-child(2) {
        transform: scale(1.02)
    }

    .newsgrid .box.hover:nth-child(2):hover {
        transform: scale(1.01);
    }

    .newsgrid .box:nth-child(4) {
        transform: scale(0.99);
    }

    .newsgrid .box.hover:nth-child(4):hover {
        transform: scale(0.98);
    }

    .newsgrid .box:nth-child(5) {
        transform: scale(0.97);
    }

    .newsgrid .box.hover:nth-child(5):hover {
        transform: scale(0.96);
    }
}

#about {
    margin-top: 6em;
    min-height: 100vh;
}

/*
 * Sidebar
 */

.sidebargrid {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas: "content""sidebar";
}

@media (min-width: 74rem) {
    .sidebargrid {
        grid-template-columns: 16vw auto;
        grid-template-areas: "sidebar content";
    }
}

.sidebar {
    padding: 0 2em;
    grid-area: sidebar;
}

.sidebar h3 {
    margin-bottom: 1.75rem;
}

.sidebar h5 {
    margin-top: 1.5rem;
}

.sidebar ul {
    padding-left: 0;
    padding-bottom: 1em;
}

@media (max-width: 74rem) {
    .sidebar {
        visibility: visible;
        background: linear-gradient(to bottom, #f8f8f8, white);
    }
}

.content {
    padding: 1em 1em;
    overflow: hidden;
    grid-area: content;
}

@media (min-width: 74rem) {
    .sidebar {
        position: sticky;
        height: fit-content;
        top: 0.5rem;
    }

    .content {
        box-shadow: 0 0 10px #dadada;
        padding: 3rem 2rem 2rem 3rem;
        min-height: calc(100vh - 14em);
        border-top-left-radius: 1em;
    }
}

/*
 * Blog overview
 */

.blog .content {
    padding-top: 0;
    box-shadow: none;
}

@media (min-width: 56rem) {

    .blog .content,
    .post .content,
    .subject .content {
        padding-right: 24rem;
    }
}

@media (min-width: 88rem) {

    .blog .content,
    .post .content,
    .subject .content {
        padding-right: 36rem;
    }
}

.blog h2 {
    margin-top: 0.7em;
    margin-top: 0;
}

.blog h3 {
    margin-top: 0.25em;
}

.blog h4 {
    margin: 0.25rem 0;
    font-weight: 300;
}

@media (min-width: 74rem) {
    .blog h4 {
        margin: 0;
    }
}

img.intext.preview {
    margin-bottom: 0;
    filter: saturate(1);
    transition: 200ms;
}

:hover>img.intext.preview {
    filter: saturate(1.8);
    transition: 8000ms;
}

/*
 * Blog posts
 */

.content .container {
    max-width: 56rem;
}

ul.similiar li {
    margin-top: 0.8em;
}

table img {
    height: 20rem;
    width: 30rem;
    object-fit: cover;
}

table .imgtd {
    width: 32em;
}

.post :not(.logo)>img,
.class :not(.logo)>img,
.subject :not(.logo)>img,
img.intext {
    object-fit: cover;
    object-position: 0 35%;
    border-radius: 0.5em;
    width: 100%;
    height: 16em;
}

@media (min-width: 56rem) {
    .class :not(.logo)>img {
        width: 56em;
        height: auto;
        float: right;
        border-top-left-radius: 0.1em;
        margin: 0 0 2em 3em;
    }

    .subject :not(.logo)>img {
        height: auto;
        max-height: 32em;
        border-top-left-radius: 0.1em;
    }

    img.intext {
        float: right;
        height: 22em;
        width: 36em;
        border-top-left-radius: 0.1em;
        margin: 0 0 2em 3em;
    }

    img.intext.left {
        float: left;
        border-top-left-radius: 0.5em;
        border-top-right-radius: 0.1em;
        margin: 0 3em 2em 0;
    }
}

.titleimg {
    width: calc(100%-4rem);
    overflow: hidden;
}

.titleimg img {
    width: 32em;
    height: 18em;
}

@media (min-width: 56rem) {
    .titleimg {
        width: 20rem;
        position: absolute;
        right: 2rem;
        margin-top: 2em;
    }

    .titleimg img {
        margin-bottom: 1em;
        border-top-left-radius: 0.1em;
    }
}

@media (min-width: 88rem) {
    .titleimg {
        width: 32rem;
    }
}

/*
 * Subject info
 */

@media (min-width: 74rem) {
    .subjectinfogrid {
        display: grid;
        grid-template-columns: auto auto auto;
    }
}

/*
 * Downloads
 */

.downloadsgrid {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: calc(50% - 0.25rem) calc(50% - 0.25rem);
}

.downloadsgrid .box {
    height: 12rem;
}

.downloads a.more {
    margin-top: 1rem;
    float: left;
}

.download p:first-of-type {
    font-weight: 900;
    margin-top: 0.25rem;
}

.download img.preview {
    overflow: hidden;
    width: 100%;
    margin: 1.5rem auto;
    display: block;
    box-shadow: 0 0 5px #dadada;
    border-radius: 0.5rem;
    transition: 200ms;
}

.download.box.hover:hover img.preview {
    box-shadow: 0 0 1px #dadada;
}

@media (min-width: 74rem) {
    .downloadsgrid {
        grid-template-columns: 33% 33% 33%;
    }

    .downloadsgrid .box {
        height: 18rem;
    }

    .download img.preview {
        width: 80%;
    }
}

/*
  * Boxes
  */

.box {
    background-color: white;
    box-shadow: 0 0 5px #dadada;
    border-radius: 0.75rem;
    padding: 1em;
    overflow: hidden;
    transition: 300ms;
}

.box.hover:hover {
    transform: scale(0.995);
    transition: 300ms;
}

.box.inverthover:hover {
    box-shadow: 0 0 5px #eaeaea;
    border: 0.5px solid #eaeaea;
    transform: scale(1.01);
}


.box.inverthover:hover {
    transform: scale(0.99);
}

@media (min-width: 74rem) {
    .box.bubble {
        border-top-left-radius: 0.1rem;
    }
}

.box .box,
.content .box {
    box-shadow: none;
    border: 1px solid #eaeaea;
    transition: 200ms;
}

.box .box.hover:hover,
.content .box.hover:hover {
    border: 0.5px solid #eaeaea;
    transform: scale(0.995);
}

a.nostyle,
a.box {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    transition: 100ms;
}

a.nostyle:hover {
    color: #268bd2;
}

.box.subject {
    min-height: 4rem;
    display: table;
    text-align: center;
}

.box.subject>* {
    display: table-cell;
    vertical-align: middle;
}

/*
 * Buttons and Search
 */

button,
.button {
    border: 1px solid #909090;
    border-radius: 0.5em;
    padding: 0.5em;
}

.search {
    height: 1.5em;
    width: calc(100% - 4em);
    font-size: 1.15em;
    padding: 0.5em;
    margin: 0 2em 1.5em 2em;
    border-radius: 0.25em;
    border: 1px solid #909090;
    background-color: transparent;
}

@media (min-width: 74rem) {
    .search {
        width: 14em;
        margin: 1.5em 2em;
        float: right;
    }
}

/*
 * Tables
 */

table {
    width: 100%;
    border-collapse: collapse;
}

tr.title {
    font-weight: 700;
}

td {
    height: 2.5em;
}

tr:nth-child(even) {
    background-color: #f8f8f8;
}

tr.hover:hover {
    cursor: pointer;
    background-color: #eaeaea;
}

/*
 * Slides
 */
.home .carousel-inner {
    padding: 0 8em;
}

/*
 * Grids
 */

.twogrid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: auto auto;
}

.fourgrid {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(2, calc(50% - 0.25rem));
    padding: 0 0.1rem;
}


.intextgrid,
section:not([class$="grid"]) {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas: "second""first";
}

.intextgrid :nth-child(odd),
section:not([class$="grid"]) :nth-child(odd) {
    grid-area: first;
}

.intextgrid :nth-child(even),
section:not([class$="grid"]) :nth-child(even) {
    grid-area: second;
}

.intextgrid img,
.intextgrid iframe,
.intextgrid embed,
section:not([class$="grid"]) img,
section:not([class$="grid"]) iframe,
section:not([class$="grid"]) embed {
    border-radius: 0.75rem;
    width: 100%;
    max-height: 22rem;
    object-fit: cover;
    object-position: 0 35%;
}

@media (max-width: 74rem) {

    .intextgrid>*,
    section:not([class$="grid"])>* {
        max-width: 100%;
    }

    .intextgrid.mobileinvert,
    section:not([class$="grid"]).mobileinvert {
        grid-template-areas: "first""second";
    }
}

@media (min-width: 74rem) {

    .intextgrid,
    section:not([class$="grid"]) {
        grid-template-columns: auto 24rem;
        grid-template-areas: "first second";
    }

    .intextgrid.wide,
    section:not([class$="grid"]).wide {
        grid-template-areas: "first second";
        grid-template-columns: auto 30rem;
    }

    .intextgrid iframe,
    .intextgrid embed,
    section:not([class$="grid"]) iframe,
    section:not([class$="grid"]) embed {
        min-height: 32rem;
        max-height: 100%;
    }
}

@media (min-width: 88rem) {
    .fourgrid {
        display: grid;
        grid-gap: 0.5rem;
        grid-template-columns: repeat(4, calc(25% - 0.375rem));
    }

    .intextgrid,
    section:not([class$="grid"]) {
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: auto 36rem;
        grid-template-areas: "first second";
    }

    .intextgrid.invert,
    section:not([class$="grid"]).invert {
        grid-template-columns: 36rem auto;
        grid-template-areas: "second first";
    }

    .intextgrid.wide,
    section:not([class$="grid"]).wide {
        grid-template-columns: auto 48rem;
    }

    .intextgrid:not(.invert)>:nth-child(odd),
    .intextgrid:not(.invert)>:nth-child(odd) img,
    section:not([class$="grid"]):not(.invert)>:nth-child(odd),
    section:not([class$="grid"]):not(.invert)>:nth-child(odd) img,
    .intextgrid.invert>:nth-child(even),
    .intextgrid.invert>:nth-child(even) img,
    section:not([class$="grid"]).invert>:nth-child(even),
    section:not([class$="grid"]).invert>:nth-child(even) img {
        border-top-right-radius: 0.1rem;
    }

    .intextgrid:not(.invert)>:nth-child(even),
    .intextgrid:not(.invert)>:nth-child(even) img,
    section:not([class$="grid"]):not(.invert)>:nth-child(even),
    section:not([class$="grid"]):not(.invert)>:nth-child(even) img,
    .intextgrid.invert>:nth-child(odd),
    .intextgrid.invert>:nth-child(odd) img,
    section:not([class$="grid"]).invert>:nth-child(odd),
    section:not([class$="grid"]).invert>:nth-child(odd) img {
        border-top-left-radius: 0.1rem;
    }

    .intextgrid img:not(:first-of-type),
    section:not([class$="grid"]) img:not(:first-of-type) {
        border-top-right-radius: 0.25rem !important;
        border-top-left-radius: 0.25rem !important;
    }

    .intextgrid img:not(:last-of-type),
    section:not([class$="grid"]) img:not(:last-of-type) {
        border-bottom-left-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
    }
}

.imggrid {
    display: grid;
    min-height: 17rem;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(2, calc(50% - 0.25rem));
    padding: 2px;
}

.imggrid>* {
    height: 16rem;
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
    padding: 0;
}

.imggrid>*:nth-child(odd):last-child {
    width: calc(200% + 0.5rem);
    height: 12rem;
}

@media (min-width: 74rem) {
    .imggrid {
        grid-template-columns: repeat(4, calc(25% - 0.375rem))
    }

    .imggrid>*:nth-child(odd):last-child {
        width: unset;
        height: 16rem;
    }
}

/*
 * Contact
 */

.contact.box {
    max-width: 56rem;
}

.contact input,
.contact textarea {
    padding: 1rem;
    font-size: 1.15rem;
    width: calc(100% - 2rem);
    border: none;
    border-bottom: 1px solid #909090;
    background-color: #f8f8f8;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 0.5rem;
    transition: 100ms;
}

@media (min-width: 74rem) {

    .contact input,
    .contact textarea {
        width: calc(50% - 2.5rem);
        margin-bottom: 1rem;
    }

    .contact input:last-of-type {
        margin-left: 0.5rem;
    }
}

.contact textarea {
    font-size: 1rem;
    height: 10rem;
    width: calc(100% - 2rem);
    resize: vertical;
}

.contact input:hover,
.contact textarea:hover {
    border-bottom: 1px solid #007090;
    background-color: #00709015;
}

.contact button {
    padding: 0.75rem;
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid #909090;
    border-radius: 0.5rem;
    width: 100%;
    transition: 100ms;
}

@media (min-width: 74rem) {
    .contact button {
        width: unset;
        min-width: 35%;
    }
}

.contact button:hover {
    border: 1px solid #007090;
    background-color: #00709040;
}