---
layout: default
title: Mathothek
---

<div class="sidebar">
    <h3 class="sub">Mathothek</h3>

    <ul class="simple">
            <h5>Verknüpft</h5>
            <li><a href="/gelaende">Gelände</a></li>
            <li><a href="/unterricht/faecher/mathematik">Matheunterricht</a></li>
            <li><a href="/gelaende#bibliothek">Bibliothek</a></li>
            <li><a href="/betreuung">Betreuungsangebote</a></li>
        </ul>

        {% include similiar.html tags="mathothek mathe" %}
</div>

<div class="content">
    <section>
        <div>
            <h2>Ein besonderer Weg zur Mathematik: Staunen - Fragen - Erkennen</h2>
            <p>
                “So etwas habe ich ja noch nirgends gesehen”, staunte begeistert der Wiesbadener Oberbürgermeister
                Gerich vor kurzem bei seiner Stippvisite in der Mathothek anlässlich seines Besuches am GMB. Das war
                nicht anders als bei fast allen Besucherinnen und Besuchern jeden Alters, die den einladenden Raum der
                Mathothek am Mosbacher Berg betreten und sich von den mehr als tausend Exponaten faszinieren lassen.
                Fast alle ästhetischen Objekte sind in der Überzahl selbst hergestellte Unikate, die zum Anfassen
                verführen, zum Experimentieren oder Spielen animieren.
            </p>
            <p>
                Das ist der Start, um vom Staunen, über das Fragen schließlich zum Erkennen zu kommen. Aktuelle
                Forschungen belegen die besondere Bedeutung der Zusammenarbeit unserer Sinne, insbesondere von Tast- und
                Sehsinn. In diesem Licht schafft die Mathothek ein ideales Umfeld für das Wechselspiel zwischen dem
                Handeln mit Objekten und mentalen Operationen. Von dem Entwicklungspsychologen Jean Piaget stammen die
                Aussagen: “Denken entsteht durch Verinnerlichung von gegenständlichen Handlungen” und “Vorstellung
                ersetzt erst dann das Handeln, wenn es von diesem ausreichend Erkenntnisse gewonnen hat.” Mathothek –
                Mathematik begreifbar machen, so lautet deshalb das Anliegen der Sammlung und ihrer Angebote.
            </p>
            <p>
                “Wie kamen Sie auf die Idee, eine Mathothek zu machen?”, fragte ein kleines chinesisches Mädchen bei
                seiner
                ersten Begegnung mit der Mathothek. Ich berichtete ihm von einer großartigen Ausstellung im Jahr 2000 in
                Mainz “Mathematik zum Anfassen”, die ich mit verschiedenen Schülergruppen besucht hatte und wie
                begeistert
                wir alle waren. Aus dieser Wanderausstellung entstand später das <a href="https://mathematikum.de"
                    target="_blank">Gießener Mathematikum</a>. Durch dieses
                Erlebnis wurde ich angeregt, in der Projektwoche 2000/2001 einen ersten Versuch zu machen, ein
                entsprechendes Projekt zu starten. Durch die großartige Resonanz entwickelte sich dann bei mir die Idee
                eines “kleinen Mathemuseums”, was sofort auf die positive Reaktion der Schulleiterin stieß. Die
                Fünftklässlerin übrigens, die die obige Frage gestellt hatte, wandte sich nach meiner Erklärung zu ihren
                Nachbarn und meinte: “Ich war schon so oft mit meinen Eltern in medizinischen Ausstellungen, aber ich
                bin
                noch nie auf die Idee gekommen, ein “Medizinikum” zu machen.” Von ihr habe ich dann die chinesische
                Zahlenschreibweise gelernt.
            </p>
            <p>
                Die Idee wurde bei mir immer konkreter und erschien mir als die Möglichkeit, meine didaktischen und
                methodischen Erfahrungen “fassbar” umzusetzen. Die Anzahl der Exponate wuchs, auch durch eine
                freiwillige
                Arbeitsgemeinschaft mit begeisterten Schülerinnen und Schülern, deren Urteile und Meinungen, aber auch
                deren
                Begeisterung zum wesentlichen Treibstoff meiner Motivation wurden.
            </p>
            <p>
                “Ich war und bin sehr beeindruckt von der Vielfalt der Darstellung über das Thema Mathematik.” So oder
                ähnlich äußern sich viele Besucher. Das meint auch eine Schülerin, wenn sie schreibt: “Die Mathothek ist
                total interessant und voller toller Sachen: vom Schweinchen-Würfeln bis zur Pyramide aus Holzklötzchen.”
                Tatsächlich besitzt die Mathothek viele Exponate zu den verschiedensten mathematischen Bereichen, so
                beispielsweise zu den Themen Fibonacci-Zahlen und Goldener Schnitt in Kunst, Natur und Mathematik,
                Symmetrie als universelles Prinzip, Zahlen und Rechnen, Rechnen vor dem Taschenrechner, Kreise und
                andere Kegelschnitte, Ordnen, Zählen und Wahrscheinlichkeit, die Brücken von Königsberg oder das Haus
                des Nikolaus und die Graphentheorie, das Unendliche mit seinen Möglichkeiten und Problemen, optische
                Täuschungen, Mathematik im Alltag usw.
            </p>
            <p>
                “Les jeux sont faits – Les secrets des miroirs sont découverts.” Das schrieb ein Französisch-LK ins
                Gästebuch, nachdem er zum Thema “réflexions” eine interessante Doppelstunde mit den vielen
                Spiegelobjekten der Mathothek experimentiert hatte. Es war ein besonderer Besuch, weil man üblicherweise
                Mathematik und Französisch nicht zwangsläufig verbindet. Die Besuche von Kunstkursen liegen da schon
                näher. Jede solche Nutzung der Mathothek aus der Perspektive eines anderen Fachs ist erwünscht und
                fruchtbar.
            </p>
            <p>
                “Diese Sammlung sollten viele sehen, mit den Objekten spielen und arbeiten und dabei feststellen, wie
                interessant die Mathematik ist. Ich habe mich jedenfalls sehr gefreut, so etwas hier zu entdecken.” Der
                spielerische Aspekt wird oft abwertend gesehen. Oft geht es menschenunwürdig nur noch darum, immer nur
                optimal zu funktionieren. Ganz zu Unrecht! Der richtige Umgang mit dem Spieltrieb ist gerade beim Erwerb
                mathematischer Fähigkeiten eine tragende Basis und nicht sinnlos, so wie wir es sogar bei höheren Tieren
                als Vorbereitung auf die Überlebensherausforderungen beobachten. Deswegen könnte auch “Rettet das
                Spiel!” ein Motto der Mathothek sein. Viele Exponate in der Mathothek sind daher in ein Spiel
                eingekleidet. Dabei geht es keinesfalls immer darum zu gewinnen oder zu verlieren. Interaktive Objekte
                fordern oft zu eigenen Spielregeln heraus.
            </p>
            <p>
                Auch das Experimentieren ist ein sinnvolles Spielen auf der Vorstellungsebene mit konkreten Objekten zur
                Überprüfung mit Fragestellungen und erkennenden Antworten. Ähnlich wie bei der Begegnung mit den vielen
                optischen Täuschungen spielt bei aller Phantasie und Kreativität die strenge Logik immer wieder die
                entscheidende Rolle. Durch spielerische Momente wird aber auch vielen der Weg zu mathematischen
                Erkenntnissen angst- und stressfreier gestaltet. Dem stimmte auch eine Schülerin zu: “Mathe ist ja gar
                nicht so schlimm. Ist voll cool hier! Danke für alles!”
            </p>
            <p>
                “Ich finde Mathe cool, das macht Spaß. Ich finde es cool, dass Mathe was mit Religion und Fußball zu tun
                hat.” Das war das Urteil des neunjährigen Jason am Ende seines Mathotheksbesuchs. Toll, dass er erkannt
                hatte, dass man überall auf Mathematisches stoßen kann. Gerade die Verbindung von der Mathematik zu
                allen möglichen anderen Bereichen, wie Kunst, Design, Technik, Natur und Kultur liegt der Mathothek am
                Herzen. So lässt sich für ganz unterschiedliche Menschen die eine oder andere Tür zum mathematischen
                Sehen öffnen. Besonders wichtig ist es, den Besuchern zu vermitteln, dass auch die ewigen Wahrheiten der
                Mathematik historisch durch große Begabungen, aber auch durch die Kommunikation von Menschen entdeckt
                worden sind.
            </p>
            <p>
                “Toll – und was hat das jetzt mit Mathe zu tun?” Tatsächlich ist die Ästhetik der Objekte das –
                vielleicht – wichtigste Kriterium für die Aufnahme in die Sammlung. Ein sinnvoller mathematischer Bezug
                ist natürlich immer vorhanden oder zu finden – gemäß dem Motto der Mathothek: Mathematik ist überall!
            </p>
            <p>
                “Ich wohne jetzt schon 20 Jahre im selben Haus, in der gleichen Umgebung. Nach dem Anschauen der
                interessanten Bilder über Mathematik im Alltag sehe ich vieles ganz neu.” Neben dem Ziel, zu zeigen,
                dass Mathematik überall vorhanden ist, ist die Sehschulung ein zentrales Anliegen der Mathothek. Eine
                der größten Schwierigkeiten von sehr vielen Menschen ist es, den mathematischen Gehalt, die
                mathematischen Strukturen überhaupt zu erkennen, um sie dann nutzen zu können.
            </p>
            <p>
                “Ich wünschte, dass mir in meiner Schulzeit auch jemand diesen Zugang zur Mathematik gezeigt hätte.” Das
                sagte eine Mutter und Architektin nach einem Besuch in der Mathothek anlässlich eines Schulfestes beim
                Betrachten des Geometrie-Setzkastens. Diese Wertschätzung der Mathothek als Stätte eines unmittelbaren
                Erfahrens von Mathematik, auch der Möglichkeit – ohne großartige Einleitung – “quereinsteigen” zu
                können, wird von vielen Besuchern zum Ausdruck gebracht. Dies erzeugt in ihnen oft einen neuen
                Motivationsschub, sich wieder der Mathematik zu stellen.
            </p>
            <p>
                “Halten Sie mir auch nicht die Kundschaft ab?” Das fragte mich Prof. Beutelspacher vom Mathematikum in
                Gießen, als ich ihn mit Bildern und Worten zu einem Besuch der Mathothek eingeladen habe. Dieser Besuch
                in der Mathothek mit einem gut besuchten Vortrag in der Aula fand 2010 statt. Übrigens war meine Antwort
                auf seine Frage: “Im Gegenteil, ich schicke sie zu Ihnen.” Ich war und bin ein begeisterter und
                bewundernder Fan des Mathematikums in Gießen. Daher auch der Slogan “Die Mathothek ist die emanzipierte
                Tochter des Mathematikums”. Und inzwischen auch volljährig!
                “Und was haben Sie jetzt davon?” Das fragte ein Schüler aus einer zehnten Klasse am Ende des Besuches
                seiner Klasse in der Mathothek. Eine nicht einfach von der Hand zu weisende Reaktion in einer Zeit, in
                der Anerkennung durch Geld und noch mehr Geld erfolgt.
            </p>
            <p>
                Es gibt aber auch andere Reaktionen. So verstehen viele jüngere und auch ältere an der Mathothek
                Interessierte, dass Freiheit, Kreativität und Einsatz für die Realisierung einer tragenden Idee, wovon
                dann auch andere etwas haben, Sinn stiftend und befriedigend sein kann. Die immer wieder erlebte
                Begeisterung und daraus oft folgende Unterstützung durch Schüler und Eltern ist dann wieder eine
                Bestätigung.
            </p>
            <p>
                “Das hat doch sicher auch eine Menge Geld gekostet.” – “Kein Problem, denn ich bin Milliardär, aber das
                dürft ihr nicht weitersagen.” Meine Antwort auf die immer wieder mal gestellte Frage führt zunächst zu
                großem Erstaunen. Zur Beruhigung zeige ich den Schülern und auch älteren Besuchern eine Schatulle mit
                Geldscheinen aus der Inflationszeit der zwanziger Jahre des letzten Jahrhunderts. Soviel über ein
                Exponat zum Thema “Große Zahlen”.
            </p>
            <p>
                “Was passiert mit all den tollen Objekten, wenn Sie mal tot sind?” So fragte eine Schülerin, die mit
                ihrer siebten Klasse die Mathothek kennengelernt hatte, in einer spontanen Reaktion am Ende der
                begeisternden Exploration der Mathothek.
            </p>
            <p>
                Die Mathothek ist jedenfalls lebendiger denn je. Das zeigt auch die Online-Stellung der ersten knapp 200
                Artikel des neuen Katalogs der Mathothek, der laufend durch weitere Artikel ergänzt wird. In den
                Artikeln werden einzelne Exponate oder auch mehrere thematisch zusammengehörende Exponate mit
                informativen Bildern und erklärenden Texten in allgemeinverständlicher Sprache vorgestellt. Begeisterte
                Besucher und Freunde der Mathothek wachsen ständig nach, sowie auch Ideen und Angebote. Alle
                regelmäßigen Veranstaltungen, Angebote und Sonderaktionen sind auf der Website der Mathothek zu finden,
                aber noch viel mehr. Besonders aussagekräftig sind die zahlreichen Bilder aus dem Leben in der
                Mathothek. (Die Website der Mathothek ist unabhängig von der der Schule.) Hier die Web-Adresse der
                Mathothek: <a href="https://mathothek.mosbacher-berg.de" target="_blank">mathothek.mosbacher-berg.de</a>
            </p>
            <p>
                Auf dieser Website finden Sie demnächst auch die besonderen Veranstaltungen der Mathothek zum 50.
                Jubiläum des Gymnasiums am Mosbacher Berg.
            </p>
        </div>

        <div>
            <img src="https://mosbacher-berg.de/sites/mosbacher-berg.de/files/styles/medium/public/1_9.jpg">
            <img src="https://mosbacher-berg.de/sites/mosbacher-berg.de/files/styles/medium/public/2_9.jpg">
            <img src="https://mosbacher-berg.de/sites/mosbacher-berg.de/files/styles/medium/public/6_8.jpg">
            <img src="https://mosbacher-berg.de/sites/mosbacher-berg.de/files/styles/large/public/3_7.jpg">
            <img src="https://mosbacher-berg.de/sites/mosbacher-berg.de/files/styles/large/public/4_8.jpg">
            <img src="https://mosbacher-berg.de/sites/mosbacher-berg.de/files/styles/large/public/9_3.jpg">
            {% include moreingallery.html ref="mathothek" %}
        </div>
    </section>
</div>