---
layout: default
class: "downloads"
---

<div class="sidebar">
    <h3 class="sub">Elternbriefe</h3>
    <ul class="simple">
        <h4>Verknüpft</h4>
        <li><a href="/downloads">
                Alle Downloads
            </a></li>
    </ul>
</div>

<div class="content">
    <h1>Briefe</h1>
    <p>Eine Beschreibung für die Elternbriefe.</p>
    <hr>
    <h2>2019</h2>
    <div class="downloadsgrid">
        {% include downloadbox.html url=""
            title="Abschlussbericht 2019/20" description="Nicht verfügbar." %}
        {% include downloadbox.html url="/downloads/brief_betreuung_2018s2.pdf"
            title="Nachmittagsbetreuung 2018/19" img="/downloads/preview/brief_betreuung_2018s2.jpg" %}
    </div>
    <hr>
    <h2>2018</h2>
    <div class="downloadsgrid">
        {% include downloadbox.html url="https://mosbacher-berg.de/sites/mosbacher-berg.de/files/Elternbrief_Sommer_2018.pdf"
            title="Elternbrief zum Schuljahr 2018/19" description="Der originale Link ist kaputt..." %}
        {% include downloadbox.html url="https://mosbacher-berg.de/sites/mosbacher-berg.de/files/Herkunftsprachl_Unterricht_2018_19.pdf"
            title="Herkunfts&shy;sprachlicher Unterricht 2018/19" description="Auch hierbei ist der originale Link kaputt..." %}
        {% include downloadbox.html url="/downloads/brief_betreuung_2017s2.pdf"
            title="Nachmittagsbetreuung 2017/18" img="/downloads/preview/brief_betreuung_2017s2.jpg" %}
    </div>
    <hr>
    <h2>2017</h2>
    <div class="downloadsgrid">
        {% include downloadbox.html url=""
            title="Elternbrief zum Schuljahr 2017/18" description="Nicht verfügbar." %}
    </div>
    <hr>
    <h2>2016</h2>
    <div class="downloadsgrid">
        {% include downloadbox.html url=""
            title="Elternbrief zum Schuljahr 2016/17" description="Nicht verfügbar." %}
        {% include downloadbox.html
                url="/downloads/brief_jugendmedienschutz_2016.pdf"
                title="Medienschutz für Fünftklässler" img="/downloads/preview/brief_jugendmedienschutz_2016.jpg" %}
        {% include downloadbox.html
                url="/downloads/brief_whatsapp_2016.pdf"
                title="Elternbrief zu WhatsApp" img="/downloads/preview/brief_whatsapp_2016.jpg" %}
    </div>
    <hr>
    <h2>2015</h2>
    <div class="downloadsgrid">
        {% include downloadbox.html url=""
            title="Elternbrief zum Schuljahr 2015/16" description="Nicht verfügbar." %}
    </div>
    <hr>
    <h2>2014</h2>
    <div class="downloadsgrid">
        {% include downloadbox.html url=""
            title="Elternbrief zum Schuljahr 2014/15" description="Nicht verfügbar." %}
        {% include downloadbox.html url="/downloads/brief_betreuung_2014s1.pdf"
            title="Nachmittagsbetreuung 2014/15" img="/downloads/preview/brief_betreuung_2014s1.jpg" %}
    </div>
    <hr>
    <h2>2013</h2>
    <div class="downloadsgrid">
        {% include downloadbox.html url=""
            title="Elternbrief zum Schuljahr 2013/14" description="Nicht verfügbar." %}
        {% include downloadbox.html url="/downloads/bericht_2013.pdf"
            title="Bericht des Kultusministeriums" img="/downloads/preview/bericht_2013.jpg" %}
    </div>
    <hr>
    <h2>2012</h2>
    <div class="downloadsgrid">
        {% include downloadbox.html url=""
            title="Elternbrief zum Schuljahr 2012/13" description="Nicht verfügbar." %}
    </div>
    <hr>
    <h2>2011</h2>
    <div class="downloadsgrid">
        {% include downloadbox.html url="/downloads/brief_august_2011.pdf"
            title="Elternbrief zum Schuljahr 2011/12" img="/downloads/preview/brief_august_2011.jpg" %}
        {% include downloadbox.html url="/downloads/brief_januar_2011.pdf"
            title="Elternbrief zum Jahresbeginn 2011" img="/downloads/preview/brief_januar_2011.jpg" %}
    </div>
    <hr>
    <h2>2010</h2>
    2011 scheint die Schulwebseite grundlegend erneuert worden zu sein, wobei anscheinend ältere Briefe verloren
    gingen.<br>
    Womöglich wurden die Briefe vor 2011 auch einfach nicht online veröffentlicht.
</div>