---
layout: default
class: "downloads"
---

<div class="sidebar">
    <h3 class="sub">Downloads</h3>
    <ul class="simple">
        <h4>Verknüpft</h4>
        <li><a href="/downloads/briefe">
                Briefe
            </a></li>
    </ul>
</div>

<div class="content">
    <h1>Downloads</h1>
    <p>Eine Beschreibung für die Downloads.</p>
    <hr>
    <h2>Schulordnung</h2>
    <div class="downloadsgrid">
        {% include downloadbox.html url="https://mosbacher-berg.de/sites/mosbacher-berg.de/files/binaries/Schulordnung_Kurzform.pdf"
            title="Schulordnung Kurzfassung" img="preview/schulordnung_kurz.jpg" %}
        {% include downloadbox.html url="https://mosbacher-berg.de/sites/mosbacher-berg.de/files/binaries/Schulordnung_Langfassung.pdf"
            title="Schulordnung Langfassung" img="preview/schulordnung_lang.jpg" %}
    </div>
    <hr>
    <h2>Formulare</h2>
    <div class="downloadsgrid">
        {% include downloadbox.html url="https://mosbacher-berg.de/sites/mosbacher-berg.de/files/Entschuldigung_im_Krankheitsfalle.pdf"
            title="Entschuldigung im Krankheitsfall" img="preview/formular_krankheitsfall.jpg" %}
        {% include downloadbox.html url="https://mosbacher-berg.de/sites/mosbacher-berg.de/files/Antrag_Befreiung_vom_Unterricht.pdf"
            title="Antrag auf Befreiung" img="preview/formular_befreiung.jpg" %}
    </div>
    <hr>
    <h2>Offene Briefe</h2>
    <div class="downloadsgrid fourgrid">
        {% include downloadbox.html url="https://mosbacher-berg.de/sites/mosbacher-berg.de/files/Elternbrief_Sommer_2018.pdf"
            title="Elternbrief zum Schuljahr 2018/19" description="Der originale Link ist kaputt..." %}
        {% include downloadbox.html url="https://mosbacher-berg.de/sites/mosbacher-berg.de/files/Herkunftsprachl_Unterricht_2018_19.pdf"
            title="Herkunfts&shy;sprachlicher Unterricht 2018/19" description="Auch hierbei ist der originale Link kaputt..." %}
        {% include downloadbox.html
            url="brief_jugendmedienschutz_2016.pdf"
            title="Medienschutz für Fünftklässler" img="preview/brief_jugendmedienschutz_2016.jpg" %}
        {% include downloadbox.html
            url="brief_whatsapp_2016.pdf"
            title="Elternbrief zu WhatsApp" img="preview/brief_whatsapp_2016.jpg" %}
    </div>
    <a href="briefe" class="more">Zu allen Briefen 🡒</a><br><br>
    <hr>
    <h2>Weitere Dateien</h2>
    <div class="downloadsgrid">
        {% include downloadbox.html url="selbsteinschaetzung_kopfnoten.pdf"
                title="Selbsteinschätzung der Kopfnoten" img="preview/selbsteinschaetzung_kopfnoten.jpg" %}
        {% include downloadbox.html url="https://mosbacher-berg.de/sites/mosbacher-berg.de/files/binaries/gmb_eBusse_1.pdf" title="E-Bus-Fahrplan" img="preview/ebusse.jpg" %}
    </div>
</div>