---
layout: default
title: Gelände
---

<div class="sidebar">
    <h3 class="sub">Unser Gelände</h3>

    <ul class="simple">
        <li><a href="#">Der Campus</a></li>
        <li><a href="#plan">Raumplan</a></li>
        <li><a href="#klassen">Klassenräume</a></li>
        <li><a href="#fach">Fachräume</a></li>
        <li><a href="#sport">Sport</a></li>
        <li><a href="#bibliothek">Bibliothek</a></li>
        <li><a href="#mathotek">Mathothek</a></li>
        <li><a href="#aufenthalt">Aufenthaltsräume</a></li>
        <!--<li><a href="#extern">Externe Räume</a></li>-->
    </ul>

    <ul class="simple">
        <h5>Verknüpft</h5>
        <li><a href="/personen">Personen</a></li>
        <li><a href="/betreuung">Betreuungs&shy;angebote</a></li>
    </ul>
</div>

<div class="content">

    <section class="nogrid">
        <img class="fullwidthimage" src="/assets/overview.jpg" alt="Eine Übersicht unserer Schule">
    </section>

    <section class="wide" id="campus">
        <div>
            <h2>Unser Schulcampus</h2>
            <p>Für das Gymnasium am Mosbacher Berg bezeichnend ist das weitläufige Schulgrundstück, welches mit seinen
                Schulhöfen viel Platz zur Entspannung oder sportlichen Aktivierung bietet.
            </p>
            <p>
                Bis auf das Verwaltungsgebäude V wurden in der letzten Zeit alle unserer Schulgebäude neu gebaut oder
                saniert.
            </p>
            <p>
                Verkehrstechnisch ist die Schule durch die eigene Bushaltestelle, die Nähe zum Bahnhof und den
                Konrad-Adenauer-Ring sowie die Biebricher Allee bestens angebunden.
            </p>
            <a
                href="https://www.google.de/maps/place/Gymnasium+Am+Mosbacher+Berg/@50.0625498,8.2397861,371m/data=!3m2!1e3!4b1">Unsere
                Lage auf Google Maps</a>
            <p>
                Gepflegt wird das Gelände besonders an unseren Schulgrün-Aktionstagen, bei denen die Schülerinnen und
                Schüler selbst Hand anlegen.
            </p>
            <a href="/veranstaltungen/schulgruen">Mehr zu unseren Schulgrüntagen erfahren</a>
        </div>
        <iframe
            src="https://www.google.com/maps/embed?pb=!4v1562594669036!6m8!1m7!1sCAoSLEFGMVFpcE9kcVNhX04zY200UHdOVXJaWTgwX2doOEMtcktmWGpqcTcwMDM3!2m2!1d50.0791766436579!2d8.279936357166775!3f269.0536535080795!4f-7.497024007303807!5f0.7820865974627469"
            frameborder="0" style="border:0" allowfullscreen></iframe>
    </section>

    <section class="wide" id="plan">
        <div>
            <h2>Eine Übersicht unserer Räume</h2>
            <p>
                Unser Campus ist in 9 Gebäude aufgeteilt:
            </p>
            <ul>
                <li><b>A</b>, <b>B</b> und <b>C</b>: Hier befinden sich die Klassenräume der Mittelstufe sowie der
                    SV-Raum. Hier befinden sich aber auch unsere Computerräume sowie die Bibliothek, Mathothek, der
                    Werkraum und der Aufenthaltsraum für die Mittelstufe und auch die Oberstufen werden hier zu
                    Teilen unterrichtet.</li>
                <li><b>D</b> und <b>E</b>: In diesem Gebäude befinden sich die Fachräume für die Naturwissenschaften,
                    aber auch ein Musiksaal findet hier seinen Platz.</li>
                <li><b>M</b>: Im Erdgeschoss des M-Baus befinden sich die Musik- und Kunst-Fachräume sowie die
                    Lehrmittelbibliothek und ein Oberstufen-Aufenthaltsraum. Im Obergeschoss lassen sich die
                    Klassenräume der E-Phase finden.</li>
                <li><b>V</b>: Im Verwaltungsgebäude befinden sich neben den Lehrerzimmern, dem Sekretariat und den
                    Räumen der Schulleitung auch Räume für unsere Schulsanitäter und Streitschlichter sowie ein weiterer
                    Aufenthaltsraum der Oberstufe, Konferenzräume und einige Unterrichtsräume.</li>
                <li>Unsere <b>Aula</b>: Hier finden unsere Veranstaltungen Platz, aber auch der Schülerrat trifft sich
                    hier. Ebenso gibt es hier jeden Tag das Mittagessen.</li>
                <li>Unsere <b>Sporthalle</b>: Hier gibt es nicht nur den Sportunterricht, sondern auch die Bewegte
                    Pause. In jeder großen Pause können sich die Schüler Sportgeräte ausleihen und einige sogar mit nach
                    Hause nehmen. Weiterhin nutzen wir auch die Sporthalle am zweiten Ring.</li>
            </ul>
        </div>
        <a href="https://mosbacher-berg.de/sites/mosbacher-berg.de/files/binaries/Raumplan.pdf">
            <embed
                src="https://mosbacher-berg.de/sites/mosbacher-berg.de/files/binaries/Raumplan.pdf#toolbar=0&navpanes=0&scrollbar=0"
                type="application/pdf"></a>
    </section>
    <section class="imggrid">
        <img src="https://mosbacher-berg.de/sites/mosbacher-berg.de/files/styles/large/public/Schulgeb%C3%A4ude2.JPG">
        <img src="https://mosbacher-berg.de/sites/mosbacher-berg.de/files/styles/large/public/Schulgeb%C3%A4ude1.JPG">
        <img
            src="https://mosbacher-berg.de/sites/mosbacher-berg.de/files/styles/large/public/Schulgeb%C3%A4ude_Schulhof3.jpg">
        {% include moreingallery.html ref="gelaende" %}
    </section>

    <section class="invert" id="klassen">
        <div>
            <h2>Helle und freundliche Klassenräume</h2>
            <p>
                Seit den großen Neubauten und Renovierungen des GMB in den 90er Jahren können wir uns über helle und
                freundliche Räumlichkeiten am GMB freuen, die ein gutes Arbeitsklima ermöglichen. Alle Räume sind mit
                Tafeln
                bzw. Whiteboards, Overheadprojektoren, CD-Spielern, (elektrischen) Rolläden, Schränken und ergonomischen
                Stühlen ausgestattet.
            </p>
            <p>
                Durch unser Engagement für Kinder mit Hörschädigung im Rahmen der Inklusion haben wir auch einige
                speziell eingerichtete Räume mit Schallisolierung und Smartboards. Neben portablen AV-Einheiten sind
                mittlerweile insbesondere die naturwissenschaftlichen Räume mit Beamern und Internet bestens
                ausgestattet.
            </p>
        </div>
        <img src="https://mosbacher-berg.de/sites/mosbacher-berg.de/files/styles/large/public/Integrationsraum.jpg"
            alt="Ein Klassenraum am GMB">
    </section>
    <section class="imggrid">
        <img src="https://mosbacher-berg.de/sites/mosbacher-berg.de/files/styles/large/public/CONVAR30.jpg">
        <img src="https://mosbacher-berg.de/sites/mosbacher-berg.de/files/styles/large/public/CONVAR27.jpg">
        {% include moreingallery.html ref="gelaende" %}
    </section>

    <section id="fach">
        <div>
            <h2>Fachräume</h2>
            <p>
                Um für jedes Fach die perfekte Unterrichtsumgebung bieten zu können git es für viele Fächer eigene
                Fachräume mit der entsprechenden Ausstattung.
                So etwa der Computerraum für den Informatikunterricht und die Recherche im Internet oder die Kunst- und
                Musikräume.
                Auch für die Naturwissenschaften und das Werken gibt es spezielle Räume.
            </p>
        </div>
        <img src="https://mosbacher-berg.de/sites/mosbacher-berg.de/files/styles/large/public/Computerraum.JPG"
            alt="Einer unserer Computerräume">
    </section>
    <section class="imggrid">
        <img src="https://mosbacher-berg.de/sites/mosbacher-berg.de/files/styles/medium/public/Physik.jpg"
            alt="Im Physikfachraum">
        <img src="https://mosbacher-berg.de/sites/mosbacher-berg.de/files/styles/medium/public/Chemie%2008.jpg"
            alt="Im Chemiefachraum">
        <img src="https://mosbacher-berg.de/sites/mosbacher-berg.de/files/styles/medium/public/Beispielbilder_Kunst_2.jpg"
            alt="Im Musikfachraum">
        {% include moreingallery.html ref="gelaende" %}
    </section>

    <section class="invert" id="sport">
        <div>
            <h2>Sportgelände</h2>
            <p>
                Neben unserer 2010 erbauten Schulsporthalle können wir auch die Sporthalle am zweiten Ring nutzen. Bei
                gutem Wetter bietet sich auch der Nahe gelegene Sportpark, das Beachvolleyballfeld oder der kleine Fuß-
                und Basketballplatz neben unserer Sporthalle an.
            </p>
            <a href="/unterricht/faecher/sport">Mehr über unseren Sportunterricht erfahren</a>
            <p>
                Falls einmal einige Klassen auf einmal unterrichtet werden, kann unsere Halle in 2 Bereiche bzw. die
                Halle am zweiten Ring in 4 Teile geteilt werden. Unsere Bundesjugenspiele finden im
                Helmut-Schön-Sportpark nahe der Brita-Arena statt.
            </p>
            <a href="/veranstaltungen/bjs">Mehr über die Bundesjugenspiele erfahren</a>
            <p>
                In unserer Sporthalle findet aber nicht nur der Sportunterricht statt, hier können sich die Schüler in
                den Pausen auch an den verschiedensten Geräten austoben.
            </p>
            <a href="/betreuung/bewegtepause">Mehr über die Bewegte Pause erfahren</a>
        </div>
        <img src="https://mosbacher-berg.de/sites/mosbacher-berg.de/files/styles/large/public/P9210056.JPG"
            alt="Unsere Schulsporthalle">
    </section>
    <section class="imggrid">
        <img src="https://mosbacher-berg.de/sites/mosbacher-berg.de/files/styles/large/public/DSC_8411.JPG"
            alt="In unserer Schulsporthalle">
        <img src="https://mosbacher-berg.de/sites/mosbacher-berg.de/files/styles/medium/public/Tischtennis%201.jpg"
            alt="In der Sporthalle am zweiten Ring">
        <img src="https://mosbacher-berg.de/sites/mosbacher-berg.de/files/styles/large/public/PICT0214.JPG"
            alt="Auf einem der von genutzten Sportplätze">
        {% include moreingallery.html ref="gelaende" %}
    </section>

    <section id="bibliothek">
        <div>
            <h2>Die Schülerbibliothek</h2>
            <p>
                Die Schülerbibliothek hält ca. 6.000 Medien für Schüler/innen aller Jahrgangsstufen bereit. Dies sind
                hauptsächlich aktuelle Kinder- und Jugendromane, aber auch auch Fach- und Sachbücher, Nachschlagewerke
                sowie Bücher für junge Erwachsene und lehrplanorientierte Lektüren.<br>
                Alle Schüler/innen unserer Schule erhalten zu Beginn des 5. Schuljahrs einen Bibliotheksausweis und
                werden in die Nutzung der Bibliothek eingeführt.
            </p>
            <p>
                Neben der Ausleihe von Büchern für Freizeit und Unterricht können die Schüler/innen dort lesen,
                arbeiten, lernen, recherchieren und Materialien erstellen. Lese- und Lernförderung haben hier einen
                festen Platz, wie zum Beispiel der jährliche Lesewettbewerb und Buchvorstellungen sowie zahlreiche
                Aktivitäten während der Projekttage.<br>
                Die Schulbibliothek ist täglich während der großen Pausen und darüber hinaus auch während der
                Nachmittagsbetreuung geöffnet. Das Bibliotheksteam besteht aus der Bibliotheksleitung (einer Lehrerin)
                sowie zur Zeit sechs ehrenamtlichen Mitarbeiterinnen, vorwiegend aus der Elternschaft. Diese leisten
                alle bibliothekarischen Arbeiten.
            </p>
            <p>
                Sie fördern aus Überzeugung die Leseerziehung besonders der jüngeren Schüler/innen, das
                wissenschaftliche Arbeiten und den Bildungsanspruch der Schule. Darüber hinaus beraten sie die
                Schüler/innen sowie Lehrer/innen, kümmern sich um große und kleine Probleme, halten Ordnung und sind für
                den reibungslosen Ablauf des Bibliotheksbetriebes verantwortlich. Während der Nachmittagsbetreuung
                übernehmen vom Förderverein beauftragte Oberstufenschüler/innen die Aufsicht.
            </p>
            <p>
                Das Kollegium des Gymnasiums am Mosbacher Berg sieht diese Einrichtung als unverzichtbar für die Schule
                an. Sie wird vom Förderverein und der Elternschaft sowohl durch Buch-, Sach- und Geldspenden als auch
                ganz besonders durch aktive Mithilfe unterstützt.
            </p>
        </div>
        <img src="https://mosbacher-berg.de/sites/mosbacher-berg.de/files/styles/medium/public/bibliothek_1743.jpg"
            alt="Unsere Schülerbibliothek">
    </section>

    <section class="invert" id="mathotek">
        <div>
            <h2>Ein besonderer Weg zur Mathematik: Die Mathothek</h2>
            <p>
                “So etwas habe ich ja noch nirgends gesehen”, staunte begeistert der Wiesbadener Oberbürgermeister
                Gerich vor kurzem bei seiner Stippvisite in der Mathothek anlässlich seines Besuches am GMB. Das war
                nicht anders als bei fast allen Besucherinnen und Besuchern jeden Alters, die den einladenden Raum der
                Mathothek am Mosbacher Berg betreten und sich von den mehr als tausend Exponaten faszinieren lassen.
                Fast alle ästhetischen Objekte sind in der Überzahl selbst hergestellte Unikate, die zum Anfassen
                verführen, zum Experimentieren oder Spielen animieren.
            </p>
            <p>
                Das ist der Start, um vom Staunen, über das Fragen schließlich zum Erkennen zu kommen. Aktuelle
                Forschungen belegen die besondere Bedeutung der Zusammenarbeit unserer Sinne, insbesondere von Tast- und
                Sehsinn. In diesem Licht schafft die Mathothek ein ideales Umfeld für das Wechselspiel zwischen dem
                Handeln mit Objekten und mentalen Operationen. Von dem Entwicklungspsychologen Jean Piaget stammen die
                Aussagen: “Denken entsteht durch Verinnerlichung von gegenständlichen Handlungen” und “Vorstellung
                ersetzt erst dann das Handeln, wenn es von diesem ausreichend Erkenntnisse gewonnen hat.” Mathothek –
                Mathematik begreifbar machen, so lautet deshalb das Anliegen der Sammlung und ihrer Angebote.
            </p>
            <p><a href="mathothek">Mehr über die Mathothek erfahren</a></p>
            <p><a href="https://mathothek.mosbacher-berg.de">Die Mathothek durchstöbern</a></p>
        </div>
        <img src="https://mosbacher-berg.de/sites/mosbacher-berg.de/files/styles/medium/public/1_9.jpg"
            alt="Ein Einblick in unsere Mathothek">
    </section>
    <section class="imggrid">
        <img src="https://mosbacher-berg.de/sites/mosbacher-berg.de/files/styles/medium/public/2_9.jpg"
            alt="Zwei Schüler erkunden die Phänomene der Mathothek">
        <img src="https://mosbacher-berg.de/sites/mosbacher-berg.de/files/styles/medium/public/8_6.jpg"
            alt="Ein Exponat der Mathothek">
        <img src="https://mosbacher-berg.de/sites/mosbacher-berg.de/files/styles/medium/public/13_0.jpg"
            alt="Herr Forbach erklärt die Mathothek">
        {% include moreingallery.html ref="mathothek" %}
    </section>

    <section id="aufenthalt">
        <div>
            <h2>Aufenthaltsräume</h2>
            <p>
                Die Schule stellt den Schülern verschiedene Aufenthaltsräume zur Verfügung.
            </p>
            <p>
                Für die Mittelstufe gibt es die von anderen Schülern beaufsichtigte Safari-Lounge im A-Bau. Hier gibt es
                angenehme Couchmöbel, aber auch Tische zum Arbeiten.<br>
                Für die Oberstufe gibt es zum einen einen Raum im V-Bau mit Computern, einem Drucker, einer Couch und
                einem
                großen Tisch. Der Schlüssel für diesen Raum kann im Sekretariat abgeholt werden. Zum anderen gibt es im
                M-Bau einen ruhigen Raum, der der Erholung dienen kann.
            </p>
            <p>Zur Zeit ist kein Bild verfügbar...</p>
        </div>
    </section>
</div>