<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% capture title %}
  {% if page.class == "teacher" %}
  {{ page.prefix }} {{ page.lastname }}
  {% else if page.class == "class" %}
  Klasse {{ page.name }}
  {% else %}
  {{ page.title }}
  {% endif %}
  {% endcapture %}
  <title>{% if page.title %} {{ title }} &middot; {{ site.title }} {% else %} {{ site.browsertitle }} {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">

  <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15/dist/smooth-scroll.min.js"></script>
</head>