<header class="">
    <div class="menu">
        <ul class="navigation">
            <li data-nav="1">
                <a class="nav-primary" href="/angebote">
                    Angebote
                    <span class="mobile subnav-button"></span>
                </a>
                <ul class="sub-navigation">
                    <li>
                        <a class="nav-secondary" href="/beratung">
                            Beratung & Hilfe
                        </a>
                    </li>
                    <li>
                        <a class="nav-secondary" href="/betreuung">
                            Betreuung
                        </a>
                    </li>
                    <li>
                        <a class="nav-secondary" href="/bibliotheken">
                            Bibliotheken
                        </a>
                    </li>
                    <li>
                        <a class="nav-secondary" href="/austausche">
                            Austausche
                        </a>
                    </li>
                    <li>
                        <a class="nav-secondary" href="/wahlunterricht">
                            Wahlunterricht & AGs
                        </a>
                    </li>
                </ul>
            </li>
            <li data-nav="2">
                <a class="nav-primary" href="/unterricht">
                    Unterricht
                    <span class="mobile subnav-button"></span>
                </a>
                <ul class="sub-navigation">
                    <li>
                        <a class="nav-secondary" href="/naturwissenschaften">
                            Naturwissenschaften
                        </a>
                    </li>
                    <li>
                        <a class="nav-secondary" href="/gesellschaftswissenschaften">
                            Gesellschaftswissenschaften
                        </a>
                    </li>
                    <li>
                        <a class="nav-secondary" href="/sprachen">
                            Sprachen
                        </a>
                    </li>
                    <li>
                        <a class="nav-secondary" href="/kreatives">
                            Kreatives
                        </a>
                    </li>
                    <li>
                        <a class="nav-secondary" href="/sport">
                            Sport
                        </a>
                    </li>
                    <li>
                        <a class="nav-secondary" href="/oberstufe">
                            Oberstufe
                        </a>
                    </li>
                </ul>
            </li>
            <li data-nav="3">
                <a class="nav-primary" href="/wir">
                    Wir
                    <span class="mobile subnav-button"></span>
                </a>
                <ul class="sub-navigation">
                    <li>
                        <a class="nav-secondary" href="/kollegium">
                            Kollegium
                        </a>
                    </li>
                    <li>
                        <a class="nav-secondary" href="/schueler">
                            Schüler
                        </a>
                    </li>
                    <li>
                        <a class="nav-secondary" href="/verwaltung">
                            Verwaltung
                        </a>
                    </li>
                    <li>
                        <a class="nav-secondary" href="/zeitung">
                            Schülerzeitung
                        </a>
                    </li>
                    <li>
                        <a class="nav-secondary" href="/förderverein">
                            Förderverein
                        </a>
                    </li>
                    <li>
                        <a class="nav-secondary" href="/gesund">
                            Gesunde Schule
                        </a>
                    </li>
                </ul>
            </li>
            <li data-nav="3">
                <a class="nav-primary" href="/infos">
                    Für Schüler
                    <span class="mobile subnav-button"></span>
                </a>
                <ul class="sub-navigation">
                    <li>
                        <a class="nav-secondary" href="/kalender">
                            Kalender
                        </a>
                    </li>
                    <li>
                        <a class="nav-secondary" href="/schueler">
                            Downloads
                        </a>
                    </li>
                    <li>
                        <a class="nav-secondary" href="/sprechstunden">
                            Sprechstunden
                        </a>
                    </li>
                    <li>
                        <a class="nav-secondary" href="/mensa#plan">
                            Essensplan
                        </a>
                    </li>
                    <li>
                        <a class="nav-secondary" href="/spinde">
                            Schließfächer
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <a href="/" alt="Gymnasium am Mosbacher Berg" class="logo">
        <img src="/assets/logo.svg">
    </a>
    <div class="searchcontainer">
        <input type="search" class="search" placeholder="Was möchtest du wissen?">
    </div>
</header>