<header class="">
    <div class="menu" id="menu">
        <ul class="navigation">
            <li>
                <a class="nav-primary" href="/schulleben">
                    Schulleben
                    <span class="mobile subnav-button"></span>
                </a>
                <ul class="sub-navigation">
                    <li>
                        <a class="nav-secondary" href="/kalender">
                            Kalender
                        </a>
                    </li>
                    <li>
                        <a class="nav-secondary" href="/aktuelles">
                            Neuigkeiten
                        </a>
                    </li>
                    <li>
                        <a class="nav-secondary" href="/impressionen">
                            Impressionen
                        </a>
                    </li>
                    <li class="more sub">
                        Externe Links
                        <ul class="expand-sub-navigation">
                            <li>
                                <a class="nav-tertiary" href="https://untis.com" target="_blank">
                                    Vertretungsplan
                                </a>
                            </li>
                            <li>
                                <a class="nav-tertiary" href="https://cloud.gmb.edu" target="_blank">
                                    Schulcloud
                                </a>
                            </li>
                            <li>
                                <a class="nav-tertiary" href="http://gmbintern.de" target="_blank">
                                    Wahlsystem
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a class="nav-primary" href="/unterricht">
                    Unterricht
                    <span class="mobile subnav-button"></span>
                </a>
                <ul class="sub-navigation">
                    <li>
                        <a class="nav-secondary" href="/unterricht/schwerpunkte">
                            Schwerpunkte
                        </a>
                    </li>
                    <li>
                        <a class="nav-secondary" href="/unterricht/faecher">
                            Fächer
                        </a>
                    </li>
                    <li>
                        <a class="nav-secondary" href="/unterricht/wu">
                            Wahlunterricht & AGs
                        </a>
                    </li>
                    <li>
                        <a class="nav-secondary" href="/unterricht/oberstufe">
                            Oberstufe
                        </a>
                    </li>
                    <li>
                        <a class="nav-secondary" href="/unterricht/fahrten">
                            Fahrten
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="nav-primary" href="/wir">
                    Die Schule
                    <span class="mobile subnav-button"></span>
                </a>
                <ul class="sub-navigation">
                    <li>
                        <a class="nav-secondary" href="/personen">
                            Personen
                        </a>
                    </li>
                    <li>
                        <a class="nav-secondary" href="/gelaende">
                            Gelände
                        </a>
                    </li>
                    <li>
                        <a class="nav-secondary" href="/betreuung">
                            Nachmittagsbetreuung
                        </a>
                    </li>
                    <li>
                        <a class="nav-secondary" href="/zeitung">
                            Schülerzeitung
                        </a>
                    </li>
                    <li>
                        <a class="nav-secondary" href="/kooperationen">
                            Kooperationen
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="nav-primary" href="/infos">
                    Service
                    <span class="mobile subnav-button"></span>
                </a>
                <ul class="sub-navigation">
                    <li>
                        <a class="nav-secondary" href="/beratung">
                            Beratung & Hilfe
                        </a>
                    </li>
                    <li>
                        <a class="nav-secondary" href="/downloads">
                            Downloads
                        </a>
                    </li>
                    <li>
                        <a class="nav-secondary" href="/personen/lehrer">
                            Sprechstunden
                        </a>
                    </li>
                    <li>
                        <a class="nav-secondary" href="/mensa#plan">
                            Essensplan
                        </a>
                    </li>
                    <li>
                        <a class="nav-secondary" href="https://www.astradirect.de/">
                            Schließfächer
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <a href="/" alt="Gymnasium am Mosbacher Berg" class="logo">
        <!-- Source is set by CSS-->
    </a>
    <div class="searchcontainer">
        <input type="search" class="search" placeholder="Was möchtest du wissen?">
    </div>
    <div class="menutoggler mobileonly" onclick="
            document.getElementById('menu').classList.toggle('active');
            document.body.classList.toggle('blur');
            document.body.classList.toggle('menuactive');">
        <i class="material-icons-round">
            menu
        </i>
    </div>
</header>