<table class="teachers" id="teachers">
    <tr class="title desktoponly">
        <td>Name</td>
        <td>Fächer</td>
        <td>Sprechzeit</td>
        <td>Raum</td>
        <td>Kontakt</td>
    </tr>
    {% for teacher in site.teachers | sort: "lastname" %}
    <tr class="hover" onclick="window.location = '{{ teacher.url }}'">
        <td>{{ teacher.prefix }} {{ teacher.lastname }}
            {% if teacher.duty %}
            <br>
            {% for thisduty in teacher.duty %}
            <a href="/personen/{{ thisduty | downcase }}">
                {{ thisduty }}{% if teacher.prefix contains "Fr" %}in{% endif %}</a>{% unless forloop.last %},
            {% endunless %}
            {% endfor %}
            {% endif %}
        </td>
        <td class="desktoponly">
            {% for subject in teacher.subjects %}
            <a href="/unterricht/faecher/{{ subject | downcase }}">
                {{ subject }}</a>{% unless forloop.last %}, {% endunless %}
            {% endfor %}
        </td>
        <td class="desktoponly">
            {% if teacher.time %}
            {{ teacher.time }}
            {% else %}
            -
            {% endif %}</td>
        <td class="desktoponly">
            {% if teacher.room %}
            {{ teacher.room }}
            {% else %}
            {% if teacher.time %}
            ?
            {% else %}
            -
            {% endif %}
            {% endif %}</td>
        <td class="desktoponly">
            {% if teacher.email %}
            <a href="mailto:{{ teacher.email }}">
                {{ teacher.email }}</a>
            {% endif %}</td>
    </tr>
    {% endfor %}
</table>