---
layout: default
title: Förderverein
---

<div class="sidebar">
    <h3 class="sub">Förderverein</h3>
    <ul class="simple">
        <li><a href="#">
                Der Verein
            </a></li>
        <li><a href="#vorstand">
                Der Vorstand
            </a></li>
        <li><a href="#ziele">
                Ziele
            </a></li>
        <li><a href="#kontakt">
                Kontakt
            </a></li>
    </ul>
    <ul class="simple smallmargin">
        <h4>Verknüpft</h4>
        <li><a href="/personen">
                Personen
            </a></li>
        <li><a href="/personen/seb">
                Elternvertretung
            </a></li>
        <li><a href="/personen/lehrer">
                Lehrerübersicht
            </a></li>
        <li><a href="/personen/schueler">
                Klassenübersicht
            </a></li>
    </ul>
    {% include similiar.html %}
</div>

<div class="content">

    <section id="verein">
        <div>
            <h2>Der Förderverein des Gymnasiums am Mosbacher Berg e.V.</h2>
            <p>Der „Förderverein Gymnasium am Mosbacher Berg Wiesbaden e. V.“ wurde 1989 gegründet und ist in das
                Vereinsregister beim Amtsgericht Wiesbaden eingetragen. Seit seiner Gründung hat sich der Förderverein
                durch sein tatkräftiges Engagement in ideeller und materieller Unterstützung der schulischen Aufgaben
                und bei neuen Zielsetzungen einen festen und allgemein anerkannten Platz im Schulleben geschaffen. Die
                Übernahme der Kosten für Projekte, Aktivitäten, zusätzliche Lehrmittel und Materialien, die aus
                öffentlichen Mitteln nicht finanziert werden können, hat in bester Zusammenarbeit mit der Schulleitung
                und den Lehrkräften die Qualität der Ausbildung und Erziehung verbessert. Das gemeinsame Engagement von
                Schülerinnen, Schülern, Eltern und Lehrkräften fördert darüber hinaus die Identifikation mit der Schule.
            </p>
            <p>Wenn Sie dem Förderverein beitreten möchten, erfolgt das über
                <a href="https://mosbacher-berg.de/sites/mosbacher-berg.de/files/binaries/FVGMB-Beitrittserklaerung-ab-2018.pdf"
                    target="_blank">dieses Formular</a>.</p>
        </div>
        <img src="https://mosbacher-berg.de/sites/mosbacher-berg.de/files/styles/medium/public/Vorstand-F%C3%B6rderverein%202016.JPG?itok=NfQ6B80n"
            alt="Der Vorstand des Fördervereins">
    </section>

    <section id="vorstand" class="mobileinvert">
        <div>
            <h2>Der Vorstand</h2>
            <ul>
                <li>Hildegard Diehl <span class="sub">Vorsitzende</span></li>
                <li><span class="sub">Stellvertreter</span>
                    <ul>
                        <li>Rita Ender-Brandner</li>
                        <li>Dieter Ruß <span class="sub">Schatzmeister</span></li>
                    </ul>
                </li>
                <li><span class="sub">Beisitzer</span>
                    <ul>
                        <li>Alexia Bogner</li>
                        <li>Helge Strecker</li>
                        <li>Michael Bär</li>
                        <li>Carsten Czerwinski</li>
                    </ul>
                </li>
                <li><span class="sub">Kassenprüfer</span>
                    <ul>
                        <li>Michael Sommer</li>
                        <li>Martin Prümm</li>
                    </ul>
                </li>
            </ul>
        </div>
    </section>

    <section id="ziele" class="intextgrid">
        <div>
            <h2>Erreichte und weiterhin angestrebte Ziele</h2>
            <ul>
                <li>Technische Hilfsmittel für den Unterricht</li>
                <li>Musikinstrumente und Notenmaterial</li>
                <li>Ausstellungswände und Bilderrahmen für unsere Kunstaustellungen</li>
                <li>Vielfältige Sportgeräte wie Tischtennisplatten oder Stufenbarren und Trikots für Sportmannschaften
                </li>
                <li>Anschaffungen für die Schülerbibliothek</li>
                <li>Projektunterstützungen wie z.B. der Big Band, des Musicals oder des Theaters</li>
                <li>Sucht- und Gewaltprävention</li>
                <li>Garten- und Schulhofgestaltung</li>
                <li>Organisation der Schulfeste</li>
                <li>Mitgestaltung der Abiturfeier</li>
            </ul>
        </div>
        <img src="https://mosbacher-berg.de/sites/mosbacher-berg.de/files/styles/medium/public/Schulfest.JPG"
            alt="Der Förderverein ist bei der Organisation der Schulfeste wesentlich beteiligt">
    </section>

    <section id="kontakt" class="intextgrid mobileinvert">
        <div>
            <h2>Den Förderverein kontaktieren</h2>
            {% include contactbox.html addressee="foerderverein" %}
        </div>
        <div class="box">
            <h4>Per E-Mail: <a href="mailto:foerderverein@mosbacher-berg.de">foerderverein@mosbacher-berg.de</a></h4>
            <hr>
            <h4>Per Telefon: <a href="tel:+491756888054">0175-6888054</a></h4>
            <hr>
            <h4>Per Post:</h4>
            <p>
                Förderverein Gymnasium am Mosbacher Berg Wiesbaden e.V.<br>
                Mosbacher Straße 57-59, 65187 Wiesbaden<br>
                Hildegard Diehl
            </p>
            <hr>
            <h4><a href="https://mosbacher-berg.de/sites/mosbacher-berg.de/files/binaries/FVGMB-Beitrittserklaerung-ab-2018.pdf"
            target="_blank">Dem Förderverein beitreten</a></h4>
        </div>
    </section>
</div>