---
layout: default
class: seb
title: Elternvertretung
---

<div class="sidebar">
    <h3 class="sub">Elternvertretung</h3>
    <ul class="simple">
        <li><a href="#">
                Vorstellung
            </a></li>
        <li><a href="#grundlage">
                Grundlage
            </a></li>
        <li><a href="#ziele">
                Ziele
            </a></li>
        <li><a href="#erfolge">
                Erfolge
            </a></li>
        <li><a href="#kontakt">
                Kontakt
            </a></li>
    </ul>
    <ul class="simple smallmargin">
        <h4>Verknüpft</h4>
        <li><a href="/personen">
                Personen
            </a></li>
        <li><a href="/personen/schueler">
                Klassenübersicht
            </a></li>
        <li><a href="/personen/lehrer">
                Lehrerübersicht
            </a></li>
        <li><a href="/personen/sv">
                Schülervertretung
            </a></li>
        <li><a href="/personen/schulleitung">
                Schulleitung
            </a></li>
        <li><a href="/personen/förderverein">
                Förderverein
            </a></li>
    </ul>
    {% include similiar.html %}
</div>

<div class="content">

    <section id="vorstellung" class="intextgrid">
        <div>
            <h2>Der Schulelternbeirat stellt sich vor</h2>
            <p>Seit dem 19. Sepember 2018 sind wir die gewählten Schulelternbeiräte und würden uns gerne vorstellen:</p>
            <ul>
                <li>Thomas Müller <span class="sub">1. Vorsitzender</span></li>
                <li>Diana Stein <span class="sub">2. Vorsitzende</span></li>
                <li>Harald Holtmann <span class="sub">Beisitzer</span></li>
                <li>Sascha Stoltenow <span class="sub">Beisitzer</span></li>
                <li>Christiane Steinmetzer <span class="sub">Beisitzerin</span></li>
                <li>Ingo Kropf <span class="sub">Beisitzer</span></li>
                <li>Raman Abdi <span class="sub">Beisitzer</span></li>
                <li>Evelyn Russ <span class="sub">Beisitzerin</span></li>
            </ul>
            <p>
                Schulen müssen, auch in Hinblick auf eine längere Betreuung der Kinder, immer mehr Erziehungsaufgaben
                übernehmen. Gleichzeitig werden die Ressourcen, die den Schulen zur Verfügung gestellt werden immer
                geringer.</p>
            <p>
                Daher bitten wir die Eltern an uns heranzutreten, sobald es Fragen, Probleme oder Anregungen gibt.
            </p>
        </div>
        <img
            src="https://mosbacher-berg.de/sites/mosbacher-berg.de/files/styles/medium/public/SEB2016.jpg?itok=83-05Dc8">
    </section>

    <section id="grundlage" class="intextgrid mobileinvert">
        <div>
            <h2>Die Aufgaben des Schulelternbeirates</h2>
            <ul>
                <li>Informations- und Beratungsaufgaben gegenüber den Eltern</li>
                <li>Mitwirkung am Schulgeschehen und bei der Unterrichtsgestaltung</li>
                <li>Förderung der Zusammenarbeit zwischen Eltern und Schule</li>
                <li>Vertiefung des Vertrauensverhältnisses zwischen Schulleitung, Lehrkräften, Schülern und Eltern</li>
                <li>Austausch über aktuelle Themen der Schulorganisation</li>
            </ul>
        </div>
        <div class="box">
            <h4>Rechtliche Grundlagen</h4>
            <a
                href="https://www.rv.hessenrecht.hessen.de/bshe/?docId=jlr-SchulGHE2017V1P83&docFormat=xsl&oi=bEB7Wa2K4b&docPart=X&docAnchor=jlr-SchulGHE2017pP110">
                Aufgaben des Schulelternbeirates</a><br>
            <a href="https://www.rv.hessenrecht.hessen.de/bshe/?docId=jlr-SchulGHE2017pG28&docFormat=xsl&oi=P8mbqHqDff&docAcc=true"
                target="_blank">
                Hessisches Schulgesetz §§ 106, 108
            </a><br>
            <a href="https://www.rv.hessenrecht.hessen.de/bshe/search?query=Schulelternbeirat" target="_blank">
                Zum Hessenrecht-Portal<i class="material-icons-round">navigate_next</i>
            </a>
        </div>
    </section>

    <section id="kontakt" class="intextgrid mobileinvert">
        <div>
            <h2>Den Schulelternbeirat kontaktieren</h2>
            {% include contactbox.html addressee="seb" %}
        </div>
        <div class="box">
            <h4>Kontakt per E-Mail: <a href="mailto:seb@mosbacher-berg.de">seb@mosbacher-berg.de</a></h4>
        </div>
    </section>
</div>