---
layout: default
class: sv
title: Schülervertretung
---

<div class="sidebar">
    <h3 class="sub">Schülervertretung</h3>
    <ul class="simple">
        <li><a href="#">
                Vorstellung
            </a></li>
        <li><a href="#grundlage">
                Grundlage
            </a></li>
        <li><a href="#ziele">
                Ziele
            </a></li>
        <li><a href="#erfolge">
                Erfolge
            </a></li>
        <li><a href="#kontakt">
                Kontakt
            </a></li>
    </ul>
    <ul class="simple smallmargin">
        <h4>Verknüpft</h4>
        <li><a href="/personen">
                Personen
            </a></li>
        <li><a href="/personen/schueler">
                Klassenübersicht
            </a></li>
        <li><a href="/personen/lehrer">
                Lehrerübersicht
            </a></li>
        <li><a href="/personen/seb">
                Elternvertretung
            </a></li>
        <li><a href="/personen/schulleitung">
                Schulleitung
            </a></li>
        <li><a href="/personen/förderverein">
                Förderverein
            </a></li>
    </ul>
    {% include similiar.html %}
</div>

<div class="content">

    <section id="vorstellung" class="intextgrid">
        <div>
            <h2>Eure Schülervertretung</h2>
            <p>Wie in jedem Schuljahr gibt es auch dieses Jahr wieder eine Schülervertretung. Unser SV-Präsidium besteht
                aus engagierten Schülerinnen und Schülern aus unterschiedlichen Jahrgangsstufen. Unterstützt werden wir
                auch von zwei gewählten Vertrauenslehrern.
            </p>
            <ul>
                <li><span class="sub">Schulsprecher </span>Robin Balzereit</li>
                <li><span class="sub">SV-Mitarbeiter</span>
                    <ul>
                        <li>Alexandra Kinez</li>
                        <li>Milkiyas Belete</li>
                        <li>Fried Saqib</li>
                        <li>Igor Krynicki</li>
                    </ul>
                </li>
                <li><span class="sub">Beauftragte des Schulsprechers</span>
                    <ul>
                        <li>Lisa Bauschke <span class="sub">Soziale Medien</span></li>
                        <li>Mohamed Zaanane <span class="sub">Schulsport</span></li>
                        <li>Juliet Murphy <span class="sub">Design und Öffentlichkeitsarbeit</span></li>
                        <li>Cosima Wintermeyer <span class="sub">Natur und Umweltschutz</span></li>
                    </ul>
                </li>
                <li><span class="sub">Freiwillige Helfer</span>
                    <ul>
                        <li>Timon Vogel</li>
                        <li>Diana Keller</li>
                        <li>Eray Yilmazer</li>
                    </ul>
                </li>
            </ul>
            <p>
                Jeder, der Lust dazu hat, darf sich entweder als gewählter SV–Mitarbeiter oder als Schulsprecher(ab der
                7. Klasse) aufstellen lassen. Die Schülerschaft wählt dann das SV-Präsidium, bestehend aus maximal 3
                Schulsprechern und 5 Mitarbeitern. Das SV-Präsidium trifft sich regelmäßig, um verschiedene Dinge zu
                planen und zu organisieren. Zum Beispiel bereiten wir die Schülerratssitzungen (SR) vor und leiten diese
                auch. Wir besuchen die Fachkonferenzen und Gesamtkonferenz der Lehrer, sowie die Schulkonferenz.
            </p>
            <p>
                Aber auch direkt tun wir für die Schüler einiges. Zum Beispiel verteilen wir jedes Jahr den Schulplaner
                an die Oberstufe und erstellen die SV – Stundenpläne für Unter- und Mittelstufe. Für jedes Jahr nehmen
                wir uns außerdem noch zusätzliche Projekte vor, die wir für sinnvoll halten. In der Vergangenheit waren
                das SV-Sportturniere für die Unter-und Mittelstufe, Nikolaus-, Oster- und Valentinstagaktionen, Umfragen
                zu Themen der Schule, um die Meinung der Schüler zu kennen, Mitbearbeitung des
                Betreuungsstundenkonzepts...
            </p>
            <p>
                Wenn ihr nicht als gewähltes SV-Mitglied fest in die SV-Arbeit mit eingebunden sein wollt, euch aber
                trotzdem für die Schule engagieren wollt, könnt ihr euch gerne und jederzeit als freier SV-Mitarbeiter
                bei uns im SV-Büro melden. Ihr dürft dann auch zu Sitzungen kommen und uns bei unseren Projekten
                unterstützen.
            </p>
            <p>
                Auch mit Ideen oder Verbesserungsvorschlägen könnt ihr jederzeit zu uns ins SV-Büro kommen oder uns eine
                Mail schreiben. Wir freuen uns immer über sinnvolle Anregungen!
            </p>
        </div>
        <img
            src="https://mosbacher-berg.de/sites/mosbacher-berg.de/files/styles/medium/public/IMG_0725.jpg?itok=6N79VKXx">
    </section>

    <section id="grundlage" class="intextgrid mobileinvert">
        <div>
            <h2>Warum es uns gibt</h2>
            <p>Die Schülervertretung ist das zentrale Organ zur Interessenvertretung der Schüler jeder Schule.
                Unterstützt wird die Schülervertretung von den Vertrauenslehrern unserer Schule. Das SV-Präsidium
                besteht aus maximal 3 Schulsprechern sowie 5 Mitarbeitern. Das SV-Präsidium trifft sich regelmäßig, um
                verschiedene Dinge zu planen und zu organisieren. Zum Beispiel bereitet es die Schülerratssitzungen (SR)
                vor und leitet diese auch. Außerdem können die Fachkonferenzen und die Gesamtkonferenz der Lehrer, sowie
                die Schulkonferenz besucht werden. Hier finden sie auch nähere Informationen über den Stadtschülerrat
                Wiesbaden, die Landesschülervertretung Hessen sowie das Leitbild zur Konfliktbewältigung unserer Schule.
                Insgesamt gilt, dass es sich lohnt Verantwortung für andere zu übernehmen, da sich nur dann etwas
                bewegt, wenn man sich auch selber in Bewegung setzt und sich für eigene Interessen und für andere
                einsetzt.
                <!--Descr-->
            </p>
        </div>
        <div class="box">
            <h4>Rechtliche Grundlagen</h4>
            <a href="https://www.rv.hessenrecht.hessen.de/bshe/?docId=hevr-Sch_StudVtrVHEV6IVZ&docFormat=xsl&oi=GqdfFm494m&docAcc=true"
                target="_blank">
                Verordnung zu Schülervertretungen</a><br>
            <a href="https://www.rv.hessenrecht.hessen.de/bshe/?docId=jlr-SchulGHE2017V1P83&docFormat=xsl&oi=bEB7Wa2K4b&docPart=X&docAnchor=jlr-SchulGHE2017pG31"
                target="_blank">
                Hessisches Schulgesetz §§ 121, 122
            </a><br>
            <a href="https://www.rv.hessenrecht.hessen.de/bshe/search?query=Schülervertretung" target="_blank">
                Zum Hessenrecht-Portal<i class="material-icons-round">navigate_next</i>
            </a>
        </div>
    </section>

    <section id="ziele" class="intextgrid">
        <div>
            <h2>Aktuelle Ziele</h2>
            <p> In den nächsten Jahren möchten wir uns vor allem auf die Digitalisierung unserer Schule sowie
                Kooperationen
                mit anderen Schulen fokussieren.</p>
            <p>Hier zählt vor allem</p>
            <ul>
                <li>
                    Das weitere Ausbauen des Online-Vertretungsplans
                </li>
                <li>
                    Die Förderung elektronischer Unterrichtsmaterialien
                </li>
                <li>
                    Das Veranstalten gemeinsamer Ereignisse mit wiesbadener Schulen
                </li>
            </ul>
        </div>
    </section>

    <section id="erfolge" class="intextgrid">
        <div>
            <h2>Bisherige Erfolge</h2>
            <p>In den vergangenen Jahren konnte durch die verschiedenen Schülervertreter eine Menge geändert werden.
                Darunter auch das Einrichten eines <a href="https://instagram.com/sv.gmb"
                    target="_blank">Instagram-Accounts</a>, um noch direkter mit den Schülern in Kontakt zu
                treten oder das Einführen eines Online-Vertretungsplans, zumindest für die Q-Phasen. Weiterhin konnten
                viele Sportereignisse wie das Tischtennis- oder Fußballturnier veranstaltet und mit einer groß
                angelegten Schülerumfrage ein Stimmungsbild zu vielen Themen geschaffen werden.</p>
        </div>
        <img src="https://mosbacher-berg.de/sites/mosbacher-berg.de/files/styles/medium/public/IMG_8262_0.JPG?itok=xicySX5x"
            alt="Das SV-Fußballturnier">
    </section>

    <section id="kontakt" class="intextgrid mobileinvert">
        <div>
            <h2>Die SV kontaktieren</h2>
            <p>Wir freuen uns immer über sinnvolle Anregungen!</p>
            {% include contactbox.html addressee="sv" %}
        </div>
        <div class="box">
            <h4>Die SV auf Instagram: <a href="https://instagram.com/sv.gmb" target="_blank">@sv.gmb</a></h4>
            <p>Kontaktiere uns gerne auch per Direktnachricht!</p>
            <hr>
            <h4>Das SV-Büro: <span class="a">B120</span></h4>
            <p>
                <!--Descr-->
                Jeden Dienstag in der 2. großen Pause sind wir für euch da. Kommt zu uns und sprecht direkt
                über das, was euch am Herzen liegt. Auch könnt ihr uns im SV-Briefkasten Nachrichten oder Formulare
                hinterlassen.
            </p>
            <hr>
            <h4>Kontakt per E-Mail: <a href="mailto:sv@mosbacher-berg.de">sv@mosbacher-berg.de</a></h4>

        </div>
    </section>
</div>